/* Hide user images */
.user-img {
  visibility: hidden;
}

/* Hide multiple applications accordion */
.multiple-applications {
  display: none;
}

/* Hide assessment badges */
.assessment-badges {
  visibility: hidden;
}

/* Hide Layke matching */
#layke-card {
  display: none;
}

/* Hide Alva assessment */
#alva-card {
  display: none;
}

/* Hide show details checkbox seen under Alva and Layke */
.show-details {
  display: none;
}

/* Hide application answers */
.application-answers {
  display: none;
}
